@font-face {
  font-family: 'Circe';
  src: url(../fonts/CirceRegular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Circe-Bold';
  src: url(../fonts/CirceBold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Gilam';
  src: url(../fonts/CirceRegular.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Gilam-Bold';
  src: url(../fonts/Gilam-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}
body {
  background: rgb(18, 18, 18);
}
h2 {
  font-family: 'Gilam-Bold';
  font-size: 50px;
  line-height: 28px;
}
b {
  font-family: 'Gilam-Bold';
}
header {
  background-image: url(../img/header-bg2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 32vw;
  background-position: center;
}
.container {
  margin: 0 auto;
  width: 1460px;
  max-width: 100%;
  color: white;
  letter-spacing: 0.5px;
}
.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 60px;
}
.call-back span {
  color: #D6AF76;
}
.call-back a {
  font-family: 'Circe';
  text-decoration: none;
  font-size: 20px;
  line-height: 29px;
  color: white;
}
.call-btn a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e4b564;
  border: 1px solid #e4b564;
  padding: 10px 17px;
  margin-left: 39px;
}
.section-1 {
  font-family: 'Gilam-Bold';
  font-size: 20px;
  line-height: 28px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: max-content max-content 468px 468px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-auto-rows: minmax(0, auto);
  grid-template-areas: 
  "title title title title title title" 
  "descrip descrip descrip descrip descrip ." 
  "item-1 item-1 item-2 item-2 item-3 item-3" 
  "item-4 item-4 item-4 item-5 item-5 item-5" ;
}
.section-1 .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 44px;
}
.section-1 h2 {
  grid-area: title;
}
.section-1 p {
  grid-area: descrip;
}
.section-1 .item-1 {
  grid-area: item-1;
  background: #634F2C;
}
.section-1 .item-2 {
  text-align: center;
  grid-area: item-2;
  background: #B4A385;
}
.section-1 .item-3 {
  grid-area: item-3;
  background: #E4B564;
}
.section-1 .item-4 {
  grid-area: item-4;
  background: #635A4A;
}
.section-1 .item-5 {
  grid-area: item-5;
  background: #B08C4D;
}
.section-2 {
  padding-top: 161px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 100px);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-auto-rows: minmax(0, auto);
  grid-template-areas: 
  'title title title' 
  'item-1 item-3 item-5' 
  'item-1 item-3 item-5' 
  'item-1 item-3 item-6' 
  'item-2 item-3 item-6' 
  'item-2 item-4 item-6' 
  'item-2 item-4 item-7' 
  'item-2 item-4 item-7' 
  'item-2 item-4 item-7' ;
}
.section-2 h2 {
  grid-area: title;
}
.section-2 .item {
  font-family: 'Gilam';
  font-size: 20px;
  line-height: 25px;
  padding: 44px 48px;
}
.section-2 .item-1 {
  grid-area: item-1;
  background: #0E0E0E;
}
.section-2 .item-2 {
  grid-area: item-2;
  background: #1F1F1F;
}
.section-2 .item-3 {
  grid-area: item-3;
  background: #242424;
}
.section-2 .item-4 {
  grid-area: item-4;
  background: #E4B564;
  color: black;
}
.section-2 .item-5 {
  grid-area: item-5;
  background: #1F1F1F;
}
.section-2 .item-6 {
  grid-area: item-6;
  background: #0E0E0E;
}
.section-2 .item-7 {
  grid-area: item-7;
  background: #0A0909;
}
.section-3 {
  margin-bottom: 240px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content 391px 391px;
  grid-auto-rows: minmax(0, auto);
  grid-template-areas: 
  'title title title'
  'item-1 item-2 item-3' 
  'item-4 item-5 item-6' ;
}
.gallery-btn a {
  font-family: 'Circe';
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #e4b564;
  border: 1px solid #e4b564;
  padding: 10px 40px;
}
.section-3 .top-line {
  grid-area: title;
}
.section-3 .item {
  font-family: 'Gilam';
  font-size: 22px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 61px 80px;
}
.section-3 .item-1 {
  grid-area: item-1;
  background: #634F2C;
}
.section-3 .item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  grid-area: item-2;
  background: rgba(232, 210, 171, 0.76);
}
.section-3 .item-3 {
  grid-area: item-3;
  background: #E4B564;
}
.section-3 .item-4 {
  grid-area: item-4;
  background: #635A4A;
}
.section-3 .item-5 {
  grid-area: item-5;
  background: #B08C4D;
}
.section-3 .item-6 {
  grid-area: item-6;
  background: #634F2C;
}
.paralax {
  height: 400px;
  margin: 50px 0px;
  background-image: url(../img/parallax-bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
